/**
 * @file
 * Styling for HFCC Division Website Nodes.
 */

.field-items li,
.field-items p,
.field-items ol {
  font-size: 1em;
}

/* views listing */
.views-row + .views-row {
  margin-top: 1em;
}

/* flag bad content */
.correct {
  background-color: red;
  color: white;
  padding: 3px 30px
}

/* see https://dvc.hfcc.net/webadmin/issues/issue1197#comment-5673 */
div.workbench-info-block {
  background: #DFD;
  border-color: #ACA;
}

.workbench-info-block .label {
  font-weight: bold;
}

#content .bean-heading {
  float: right;
  padding-right: 1em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

/** HFCC Web Services Client **/

#hfccwsclient-staffdir-form #edit-search {
  border: 1px solid #ccc;
  padding: 0 0.88em 1em;
}

#hfccwsclient-staffdir-form #edit-search > legend {
  padding: 0 0.325em;
}

#hfccwsclient-staffdir-form #edit-search .form-item {
  float: left;
  padding-right: 1.625em;
}

#hfccwsclient-staffdir-form #edit-search .form-submit {
  /*float: left;*/
}
.staff-directory-results td {
  padding: 0.325em 0;
  vertical-align: top;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}