/**
 * @file
 * Styling for HFCC Division Websites Menus.
 */


ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/** Superfish **/

.region-navigation {
  position: relative;
  padding: 4px 0 0;
}

ul#superfish-1 {
  float: none;
  margin-left: 175px;
  text-align: right;
}

ul.sf-menu li:nth-child(1) {
  padding-left: 6px;
}

.sf-sub-indicator {
  display: none;
}

ul.sf-menu {
  float: left;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0;
  padding: 0.826em 0;
}

ul.sf-main-menu li.sf-depth-1 {
  display: inline;
  float: none;
}

.sf-megamenu-wrapper {
  border-bottom: none;
}

ul.sf-menu li.active-trail.sf-depth-1 {
}

ul.sf-main-menu a.sf-depth-1 {
  display: inline-block;
}

ul.sf-main-menu li.sf-depth-2 {
  text-align: left;
}

ul.sf-menu li {
  margin: 0;
  padding: 0.87em 0.9em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited,
ul.sf-main-menu a.sf-depth-1 {
  color: #0054A6;
  text-decoration: none;
  font-weight: bold;
}

ul.sf-menu a.sf-depth-2:link,
ul.sf-menu a.sf-depth-2:visited {
  color: #777;
}

.sf-menu.sf-horizontal.sf-shadow ul {
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -1px #666;
  padding: 0 !important;
}

.sf-menu.sf-horizontal.sf-shadow ul li {
  padding: 0.328em 1.512em;
  margin: 0;
}

ul.sf-menu ul a:link,
ul.sf-menu ul a:visited {
  border-radius: 0;
  font-size: small;
}

/*ul.sf-menu a:hover {
  color: #0054A6;
}*/

ul.sf-menu li.sf-depth-2:hover,
ul.sf-menu li.sf-depth-2:hover > a {
  background: none;
  color: #0054A6;
}

ul.sf-menu a.active,
ul.sf-menu li.active-trail,
ul.sf-menu li.active-trail > a {
  background: none;
  color: #333;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  top: 2.5em;
}

/** Secondary Navigation **/


#sidebar-first .menu .collapsed a,
#sidebar-first .menu a,
#sidebar-second .menu .collapsed a,
#sidebar-second .menu a { /* inactive */
  color: #0054a6;
}

#sidebar-first .menu .active,
#sidebar-first .menu .menu .active,
#sidebar-second .menu .active,
#sidebar-second .menu .menu .active { /* active */
  color: #222;
  font-weight: bold;
}

#sidebar-first .menu .expanded a,
#sidebar-second .menu .expanded a { /* inactive */
  color: #0054a6;
  font-weight: normal;
}

#sidebar-first .expanded .menu .active,
#sidebar-second .expanded .menu .active { /* active */
  color: #222;
  font-weight: bold;
}

#sidebar-first .menu,
#sidebar-second .menu {
  margin-top: 1em;
}

#sidebar-first .menu .menu,
#sidebar-second .menu .menu { /* expanded, base styles */
  font-size: 0.85em;
  margin: .3em 0 0;
}

#sidebar-first .menu .collapsed,
#sidebar-first .menu .expanded,
#sidebar-second .menu .collapsed,
#sidebar-second .menu .expanded {
  list-style-image: none;
  list-style-type: none;
}

#sidebar-second ul.menu,
#sidebar-first ul.menu {
  text-align: center;
}

#sidebar-first .leaf,
#sidebar-first .collapsed,
#sidebar-second .leaf,
#sidebar-second .collapsed {
  padding: 0 0.3125em 0.6125em 0;
}

/* lists */
.tabs ul { /* reset margin on admin tabs */
  margin-left: 0;
}
.field-items ol,
.field-items ul { /* indent list items */
  margin-left: 2.75em;
}

@media only screen and (min-width: 480px) {

  #superfish-1-select {
    float: right;
    margin: 13px 0;
  }
}

@media only screen and (min-width: 768px) {

  #sidebar-second ul.menu,
  #sidebar-first ul.menu {
    text-align: left;
  }

}

@media only screen and (min-width: 960px) {

  ul.sf-menu {
    font-size: 1.1em;
    line-height: 1.2em;
  }

}