/**
 * @file
 * Styling for HFCC Division Websites Pages and Regions.
 */

#section-header {
  margin: 0;
}

h1#site-name {
  font-size: 2.3em;
  padding: 0;
}

#section-main {
  margin-bottom: 1.2em;
}

#highlighted {
  padding: 0.5em 1em;
}

.region-billboard img {
  margin: 0;
}

#breadcrumb {
  display: none;
}

#section-navigation {
  margin-bottom: 1em;
}

.region-navigation {
  padding: 0;
}

/* Search */

form#search-block-form {
  float: none;
  margin: 0.5em 0;
}

#search-block-form .form-submit {
  display: none;
}

.front #content-inner h1 {
  display: none;
}

#content-inner ul,
#content-inner ol {
  list-style-position: outside;
  margin-left: 1em;
}

#sidebar-second,
#sidebar-first {
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  margin-bottom: 1em;
  text-align: center;
}

#sidebar-second h2:nth-child(1),
#sidebar-first h2:nth-child(1) {
  border-top: none;
}

#sidebar-second h2,
#sidebar-first h2 {
  /*background-color: #D6E3EC;*/
  border-bottom: solid 1px #CCC;
  border-top: solid 1px #CCC;
  font-size: 1.5em;
  padding: 0 0.2em;
}

#sidebar-second p,
#sidebar-first p {
  padding: 0 0.2em;
}

@media  only screen and (min-width: 480px) {

  form#search-block-form {
    float: right;
  }

}

@media only screen and (min-width: 768px) {

  #sidebar-second,
  #sidebar-first {
    text-align: left;
  }

}

@media only screen and (min-width: 1024px) {

  #page {
    margin: 0;
  }

}