/**
 * @file
 * This file contains theming for the fat footer.
 */

.region-fatfooter {
  overflow: hidden;
}

#section-fatfooter {
  background: #dedede;
}

#section-fatfooter li {
  display: block;
}

#section-fatfooter a {
  color: #777;
  font-size: .86em;
  font-weight: bold;
  line-height: 2em;
}

#section-footer {
  color: #777;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  margin: 0.5em 0 1.875em;
  padding-top: 1.5em;
  text-align: center;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

#section-fatfooter h2, #section-fatfooter .block ul {
    text-align: left;
  }

#block-hfcc-global-hfcc-global-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-hfcc-global-hfcc-global-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-hfcc-global-hfcc-global-footer-links a {
  color: #444;
  text-decoration: underline;
}

#section-fatfooter {
  /**/
  font-size: 1em; /* 14px */
  line-height: 1.2857em; /* 18px */
  min-height: 150px;
  padding-top: 1em;
}

#section-fatfooter .block {
  padding-left: .5em;
  padding-bottom: 1em;
}

#section-fatfooter h2 {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1.12em; /* 16.8px */
  font-weight: bold;
  line-height: 1.0714em;
  border-bottom: solid 1px #ccc;
  /*margin: 0.5357em 0 0.75em;
  padding: 0 0.429em;*/
}

#section-fatfooter h2 {
  padding: 0 0 6px 0;
}

#section-fatfooter a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

#section-fatfooter a:hover {
  text-decoration: underline;
}

#section-fatfooter .block ul {
  list-style-type: none;
  margin: 0;
  /*padding: 0 0.429em 1.4em;*/
}

#section-fatfooter ul.menu li,
#section-fatfooter li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

#block-hfcc-global-hfcc-global-quick-links {
  float: left;
  width: 100%;
}

#block-hfcc-global-hfcc-global-program-links {
  float: right;
  width: 100%;
}

#block-hfcc-global-hfcc-global-services-links {
  clear: both;
  float: left;
  width: 100%;
}

#block-hfcc-global-hfcc-global-life-links {
  float: right;
  width: 100%;
}

ul.fatbutton-links {
}

.fatbutton-links li {
  padding-bottom: 2px;
}

.fatbutton-links a {
  display: block;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 70px 0 0;
  width: 100%;
}

#block-hfcc-global-hfcc-global-fatbutton-links {
  border: none !important;
  background-color: #dedede;
  display: inline-block;
  margin: 0;
  padding: 2em 0 0;
  width: 100%;
}

#block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
  display: inline-block;
  width: 32%;
}

.fatbutton-links a.button-alert {
  background: url(../images/socialbuttons/alert.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.fatbutton-links a.button-fb {
  background: url(../images/socialbuttons/facebook.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.fatbutton-links a.button-tw {
  background: url(../images/socialbuttons/twitter.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.fatbutton-links a.button-li {
  background: url(../images/socialbuttons/linkedin.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.fatbutton-links a.button-rss {
  background: url(../images/socialbuttons/rss.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.fatbutton-links a.button-yt {
  background: url(../images/socialbuttons/youtube.png) no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

@media only screen and (min-width: 480px) {

  #section-fatfooter h2, #section-fatfooter .block ul {
    text-align: left;
  }

  #block-hfcc-global-hfcc-global-quick-links {
    float: left;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-program-links {
    float: right;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-services-links {
    clear: both;
    float: left;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-life-links {
    float: right;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-quick-links ul li,
  #block-hfcc-global-hfcc-global-program-links ul li,
  #block-hfcc-global-hfcc-global-services-links ul li,
  #block-hfcc-global-hfcc-global-life-links ul li {
    display: inline;
    padding-right: 5px;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links {
    clear: both;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links {
    display: inline-block;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
    display: inline-block;
    width: 32%;
  }

  .fatbutton-links a.button-alert {
    background: url(../images/socialbuttons/alert.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-fb {
    background: url(../images/socialbuttons/facebook.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-tw {
    background: url(../images/socialbuttons/twitter.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-li {
    background: url(../images/socialbuttons/linkedin.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-rss {
    background: url(../images/socialbuttons/rss.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-yt {
    background: url(../images/socialbuttons/youtube.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {

  #section-fatfooter h2 {
    border-bottom: 0px;
    padding: 0;
  }

  #section-fatfooter .region > div:first-child {
    border-left: 1px solid #ccc;
  }

  #block-hfcc-global-hfcc-global-quick-links ul li,
  #block-hfcc-global-hfcc-global-program-links ul li,
  #block-hfcc-global-hfcc-global-services-links ul li,
  #block-hfcc-global-hfcc-global-life-links ul li {
    display: block;
    padding-right: 0;
  }

  #section-fatfooter .block {
    border-right: 1px solid #ccc;
    margin-bottom: -9000px;
    padding-bottom: 9010px;
  }

  #block-hfcc-global-hfcc-global-quick-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-program-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-services-links {
    clear: none;
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-life-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links {
    display: inline-block;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
    display: inline-block;
    width: 16%;
  }

  .fatbutton-links a {
    padding: 70px 0 0;
    width: 100%;
  }

  .fatbutton-links a.button-alert {
    background: url(../images/socialbuttons/alert.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-fb {
    background: url(../images/socialbuttons/facebook.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-tw {
    background: url(../images/socialbuttons/twitter.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-li {
    background: url(../images/socialbuttons/linkedin.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-rss {
    background: url(../images/socialbuttons/rss.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-yt {
    background: url(../images/socialbuttons/youtube.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }
}

@media only screen and (min-width: 1024px) {

  #section-fatfooter {
    /*font: 0.8em Arial, Helvetica, sans-serif, clean; */ /* 11.2px */
    /*line-height: 1.4286em;*/ /* 16px */
  }

  #block-hfcc-global-hfcc-global-quick-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-program-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-services-links {
    clear: none;
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-life-links {
    float: left;
    width: 25%;
    padding: 0 4.8828125%;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links {
    display: inline-block;
    width: 100%;
  }

  #block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
    display: inline-block;
    width: 16%;
  }

  .fatbutton-links a {
    padding: 70px 0 0;
    width: 100%;
  }

  .fatbutton-links a.button-alert {
    background: url(../images/socialbuttons/alert.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-fb {
    background: url(../images/socialbuttons/facebook.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-tw {
    background: url(../images/socialbuttons/twitter.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-li {
    background: url(../images/socialbuttons/linkedin.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-rss {
    background: url(../images/socialbuttons/rss.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

  .fatbutton-links a.button-yt {
    background: url(../images/socialbuttons/youtube.png) no-repeat;
    background-size: 70px 70px;
    background-position: center;
  }

}
