/**
 * @file
 * Page header styling.
 */

#section-header {
  background-color: #0054A6 ;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0.75em 0;
}

a.hfcc-home {
  height: 80px;
  display: block;
  text-indent: -9999px;
  background: url(../images/hfc-white.svg) left;
  background-repeat: no-repeat;
  background-size: 100px 79px;
  background-position: top;
}

#name-and-slogan {
  text-align: center;
}

h1#site-name {
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  margin: 0;
  padding-top: 0.15em;
}

#site-name a {
  color: #FFF;
  text-decoration: none;
}

@media only screen and (min-width: 480px) {

  a.hfcc-home {
    background: url(../images/hfc-white.svg) center top;
    background-color: #0054a6;
    background-size: 148px 117px;
    background-repeat: no-repeat;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 5px 0 0 0;
    position: absolute;
    width: 175px;
    height: 128px;
    display: block;
    text-indent: -9999px;
    z-index: 100;
  }

  #name-and-slogan {
    text-align: right;
  }

}

/*@media only screen and (min-width: 768px) {

  a.hfcc-home {
    background: url(../images/hfcclogo250.png);
    height: 69px;
    width: 427px;
    background-repeat: no-repeat;
    background-size: 427px 52px;
    background-position: left center;
  }


}*/