/**
 * @file
 * This file defines the page layout structure.
 */
 
/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}

@media only screen and (min-width: 480px) {
  /* Wide mobile (480px+) styles go here */

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {
  /* Tablets/netbooks (768px+) styles go here */

  #content {
    float: left;
    width: 100%;
    margin-right: -100%;
    padding: 0;
  }

  .two-sidebars #content-inner {
    margin-left: 180px;   /* Left Sidebar width */
    margin-right: 180px;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 180px;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 180px;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -180px;
    width: 180px;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 180px;
  }

}

@media only screen and (min-width: 960px) {
  /* Desktops (1024px+) styles go here */

  .two-sidebars #content-inner {
    margin-left: 24%;   /* Left Sidebar width */
    margin-right: 22%;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 22%;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 24%;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -24%;
    width: 24%;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 22%;
  }

}