/**
 * @file
 * Primary menu styling.
 */

.region-navigation {
  /*border-bottom: solid 1px #CCC;*/
  padding-bottom: 0.5em;
}

/*li alignment fix*/

#sidebar-first ul li,
#sidebar-second ul li,
#section-fatfooter ul li {
  display: block;
}

/*Is #main-menu still needed?*/

ul#main-menu {
  border-bottom: solid 1px #d0d0d0;
  display: block;
  text-align: left;
}

ul#main-menu li {
  display: inline-block;
  padding: 0.87em 0.9em 0.87em 0.328em;
}

ul#main-menu li.active {
  border-bottom: 3px solid #0054A6;
}

ul#main-menu a {
  color: #0054A6;
  text-decoration: none;
  font-weight: bold;
}

ul#main-menu a:hover {
  color: #0054A6;
}

ul#main-menu a:active {
  background: #F3F3F9;
  color: #000;
}

ul#secondary-menu {
  float: none;
  margin: 0;
  padding: 0;
}

ul#secondary-menu li {
}

ul#secondary-menu a {
}

@media only screen and (min-width: 768px) {

  ul#main-menu {
    margin: 0 auto;
    width: 86%;
  }

}

@media only screen and (min-width: 960px) {

  ul#main-menu {
    font-size: 1.2em;
    line-height: normal;
    max-width: 1024px;
  }

}
