/**
 * @file
 * Primary styling for nodes.
 */

 .node-unpublished {
  background: url(../images/draft-bg.png) no-repeat right top transparent;
}

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  background: #ffa;
    -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Format content blocks on landing pages. */

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}
