/**
 * @file
 * Primary page styling.
 */

body {
  background: #FCFCFF;
  color: #222;
}

#page {
  margin: 0;
  min-width: 320px;
}

.region-billboard {
  font-size: 1.12em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

#content-inner {
  padding: 0 0.625em 1.5em;
}

#sidebar-first {
  font-size: small;
}

.region-sidebar-first {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

.region-sidebar-second {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

/** Styling for Alert bulletins. **/

.hfcc-bulletin {
  background-color: #FFFF50;
  padding: 0.5em 0.625em 0;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

@media only screen and (min-width: 480px) {

  #sidebar-second, #sidebar-first {
    margin: 0 auto 1em auto;
  } 

}

@media only screen and (min-width: 768px) {

  .hfcc-bulletin {
    padding: 0.5em 1.25em 0;
  }

  #content-inner {
    padding: 0 1.25em 1.5em;
  }

}

@media only screen and (min-width: 1024px) {}